asgiref
aspose-words
attrs
dj-rest-auth
django-bootstrap5
django-cors-headers
django-filter
djangorestframework
drf-spectacular
drf-yasg
inflection
jsonschema
jsonschema-specifications
Markdown
numpy
pandas
pillow
Pygments
sqlparse
typing_extensions
psycopg2-binary
djangorestframework-simplejwt
python-dotenv
pillow
drf-yasg
PyJWT
django-rest-swagger
django-cors-headers
dj-database-url
geopy
django-cors-headers